* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  position: relative;
  display:flex;
  justify-content: space-around;
}
.container {
  width: 30vmin;
  height: 30vmin;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 14px;
  border-radius: 0.5em;
  background-color: #21242b;
  border-top: 10px solid ;
  border-top-color:#18f9db ;
  border-bottom: 10px solid ;
  border-bottom-color:#18f9db ;
}


.number-wrapper {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

span.icon {
  color: #18f9db;
  font-size: 2.5em;
  text-align: center;
}
span.num {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
span.suf {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
span.text {
  color: #e0e0e0 ; 
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  padding-bottom: 5px;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 85vw;
  }
  .container {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .container {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    gap: 15px;
  }
  .container {
    
    height: 25vmin;
    font-size: 5px ;
  }
}